@media screen and (min-width: 1200px){
	
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group{
	color:black;
}
	
}
#bigImgDiv{
	width: 100%;
}
/*��ͼ*/
#bigImgDiv img{
	width: 100%;
	height: 100%;

}
/*����ռ�����*/
#ruralDiaryDiv{
	width: 950px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#ruralDiaryImgLeft{
	width: 180px;
	height: 200px;
	padding-top: 110px;
	margin-right: 7px;
	float: left;
}
#ruralDiaryImgLeft img{
	width: 100%;
}
#ruralDiaryWord{	
	width: 570px;
	padding-top: 120px;
	margin-right: 10px;
	float: left;
	line-height: 30px;
	text-align: center;
}
#ruralDiaryImgRight{
	width: 180px;
	margin-top: 30px;
	float: left;
}
#ruralDiaryImgRight img{
	width: 90%;

}



/*ɸѡ��*/
#searchBackImgDiv{
	width: 800px;
	height: 170px;
	background-image: url(../images/searchBack.png);
	margin: 120px auto;
	margin-bottom: 50px;
	border:2px solid ;
	border-radius: 10px;
}

#searchNavFirstDiv{
	width: 700px;
	height: 70px;
	padding-top: 34px;
}
#searchNavTwoDiv{
	width: 700px;
	height: 70px;
	padding-top: 20px;
}
 .selected{font-weight:bold; background: #ff99cc; color:#fff;}
.modal-header{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
    text-align: left;
    color:#595959;
}
#moreActivitiesModal .btn-group:nth-child(2){
	margin-top:10px;
	margin-bottom:10px;	
}
#moreActivitiesModal .modal-body .btn,
#moreAreasModal .modal-body  .btn
{
	border:0;
	border-radius: 10px;
}
.btn-group .choosen,.modal-content .btn:hover,.modal-content .btn:active,.modal-content .btn:focus{
	background-color: #80bfff;
	color: white;
}
#moreActivitiesModal .modal-footer .btn,
#moreAreasModal .modal-footer .btn{
	width: 80px;
	border:0.2px solid 	 #d9d9d9;
} 





/*�����Ҫ����*/
.countryMainClass{
	width: 850px;
	height: 565px;
	margin-top: 20px;
	background: url(../images/countryBackImg.jpg) no-repeat;
	background-size: 100%;
	margin-bottom: 50px;
}
.fourDivClass{
	width: 355px;
	height: 212px;
	float: left;
	margin:35px;
	border: 3px solid ;
	border-radius: 10px;
}

#leftOnDiv p{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	padding-bottom: 0px;
}

.countryWordClass{
	/*background:#EAE9E9;*/
	background-image: url(../images/countrywordBack.png);
}
.countryWordClass p{
	padding: 15px;
}
.countryImgClass{
	width: 100%;
	height: 100%;
}
#firstDown,#secondDown{
	cursor: pointer;
}
.singleVillage{
	width: 850px;
	height: 282px;
	margin-top: 20px;
	background: url(../images/single.png) no-repeat;
	background-size: 100%;
	margin-bottom: 50px;
	position: relative;
}

/*��ǩ�ʴ���*/
.ribbon{
	position: absolute;
    width: 70px;
    height: 70px;
    left: 35px;
    top:35px;
    overflow: hidden;
    z-index: 9;
}
.ribbonLable{
	color: #FFF;
    transition: color .2s;
    /*background-color: #00a8e7;*/ /*��ɫ�����ʴ�*/
    background-color:rgb(216,0,0); /*��ɫ�����ʴ�*/
    width: 100px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    margin-left: -24px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*��ťˮ����*/
.material-design {
	position: relative;
}
.material-design canvas {
	opacity: 0.25;
	position: absolute;
	top: 0;
	left: 0;
}





/* ͼƬ����*/
.box{
		text-align: center;
		overflow: hidden;
		position: relative;
	}
	.box:before{
		content: "";
		width: 0;
		height: 100%;
		background: #000;
		padding: 14px 18px;
		position: absolute;
		top: 0;
		left: 50%;
		opacity: 0;
		transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
	}
	.box:hover:before{
		width: 100%;
		left: 0;
		opacity: 0.5;
	}
	.box img{
		width: 100%;
		height: auto;
	}
	.box .box-content{
		width: 100%;
		padding: 14px 18px;
		color: #fff;
		position: absolute;
		top: 38%;
		left: 0;
	}
	.box .title{
		font-size: 25px;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0;
		opacity: 0;
		transition: all 0.5s ease 0s;
	}
	.box .post{
		font-size: 15px;
		text-transform: capitalize;
		opacity: 0;
		transition: all 0.5s ease 0s;
	}
	.box:hover .title,
	.box:hover .post{
		opacity: 1;
		transition-delay: 0.7s;
	}
	.box .icon{
		padding: 0;
		margin: 0;
		list-style: none;
		margin-top: 15px;
	}
	.box .icon li{
		display: inline-block;
	}
	.box .icon li a{
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		margin-right: 5px;
		opacity: 0;
		transform: translateY(50px);
		transition: all 0.5s ease 0s;
	}
	.box .icon span{
		opacity: 0;
		font-size: 18px;
	}
	.box:hover .icon span{
		opacity: 1;
		transition: opacity 0.5s ;
	}
	.box:hover .icon li a{
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 0.5s;
		text-decoration: none;
	}
	.box:hover .icon li:last-child a{
		transition-delay: 0.8s;
	}


/*分页：*/

.myPage{
	width:400px;
	margin:0 auto;
	margin-top: 20px;
	height: 80px;
}
.myPage li{
	margin-left:10%;
	border:2px solid #8EC5E4 ;
	width:50px;
	height:50px;
	line-height:50px;
	border-radius:50%;
	float:left;
	background-color:white;

}
.myPage li a{
	color:#666;
	list-style: none;	
}
.myPage li:hover,.myPage .choosen{

	border:2px solid white ;
	background-color:#8EC5E4 ;
	cursor:pointer;
}
.myPage li:hover a{
	color:white;
	text-shadow: 1px 1px 2px white;
	text-decoration: none;
}



